*{margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1140px;
    padding: 10px;
}
.wrapper h1{
    font-family: "Source Sans Pro"sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #122118;
}
.wrapper > h1 > strong{
 color: #2FCD70;
}
.wrapper >p{
    font-family: "Source Sans Pro"sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: #02020280;
    margin: 30px 0 50px 0;
}
.cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    padding: 30px;
    box-shadow: 0px 8.15px 6.52px 0px #00000002;
    box-shadow: 0px 50px 100px 0px #0000000A;
}
.item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.text span{
    font-family: "Source Sans Pro" sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    color: #02020280;
}
.text strong{
    display: inline-block;
    font-family: "Source Sans Pro"sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.14px;
    text-align: left;
    color: #020202;
}
.card p{
    padding: 20px 0 20px 0;
    font-family: "Source Sans Pro"sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #02020280;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer img{
    max-width: 141px;

}
.link{
    display: flex;
    align-items: center;
    gap: 5px;
}
.link a{
    text-decoration: none;
    font-family: "Source Sans Pro"sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    color: #2FCD70;

}



@media only screen and (max-width:1090px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);

    }

    
}
@media only screen and (max-width:740px) {
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    
}
